@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  src:
    url('../fonts/Nunito-Regular.woff2') format('woff2'),
    url('../fonts/Nunito-Regular.woff') format('woff');
  font-display: swap;
}

body {
  font-family: 'Nunito', 'Arial', 'Helvetica', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin: 0 auto;
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('../assets/background.jpg');
}

.form {
  width: 320px;
  min-height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 25px;
  border: 2px solid black;
}

.form__results {
  display: flex;
  flex-direction: column;
}

.form__input-first {
  font-family: 'Nunito', 'Arial', 'Helvetica', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  width: 280px;
  margin-top: 50px;
  margin-bottom: 15px;
  border-radius: 25px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.form__input-second {
  font-family: 'Nunito', 'Arial', 'Helvetica', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  width: 280px;
  margin-bottom: 15px;
  border-radius: 25px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.form__input-submit {
  font-family: 'Nunito', 'Arial', 'Helvetica', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  width: 230px;
  border-radius: 25px;
  background: transparent;
}

.form__input-submit:active {
  transform: scale(0.9);
}
